body {
    background-image: url(../../regal1.png);
    background-color: #000;
    font-family: 'Alegreya', serif;
}

a {
    color: #000;
}

a:hover {
    color: #006666;
}

.homeBackground {
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 21px;
    margin-bottom: 50px;
}

.container {
    max-width: 932px;
}

.col {
    background-color: #fff;
}

.description {
    color: #006666;
    display: flex;
    font-size: 1.4em;
    margin-bottom: 8%;
    margin-top: 5%;
    text-align: center;
  }


p {
    font-size: 1.3em;
}