body {
    background-image: url(../../regal1.png);
    background-color: #000;
    font-family: 'Alegreya', serif;
}

a {
    color: #000;
}

a:hover {
    color: #006666;
}


.business-card {
    background-color: #fff;
    border-bottom-left-radius: 80px;
    border-top-right-radius: 80px;
    -webkit-box-shadow: 
    inset 13px 12px 10px rgba(0,0,0,.5),
        13px 12px 10px rgba(0,0,0,.5); 
    -moz-box-shadow: 
    inset 13px 12px 10px rgba(0,0,0,.5),
        13px 12px 10px rgba(0,0,0,.5);
    box-shadow: 13px 12px 10px rgba(0,0,0,.5);
}
.homeBackground {
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 21px;
    margin-bottom: 50px;
}

.container {
    max-width: 932px;
}

.description {
    color: #006666;
    display: flex;
    font-size: 1.4em;
    margin-bottom: 8%;
    margin-top: 5%;
    text-align: center;
  }


p {
    font-size: 1.3em;
}

.left {
    padding-top: 2%;
    padding-left: 10%;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-right: 6%;
    padding-bottom: 4%;
}