.navbar-light .navbar-nav .nav-link {
  color: #000;
}

.nav-link:hover {
  color: #006666;
}

nav {
  background-color: #fff;
  border-top-right-radius: 80px;
  -webkit-box-shadow: 
  inset 12px 14px 9px rgba(0,0,0,.5),
        12px 14px 9px rgba(0,0,0,.5); 
  -moz-box-shadow: 
  inset 12px 14px 9px rgba(0,0,0,.5),
        12px 14px 9px rgba(0,0,0,.5);
  box-shadow: 12px 14px 9px rgba(0,0,0,.5);
  width: 100%;
}

.navbar {
  padding-right: 9%;
  padding-top: 2%;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
}

.navbar-text {
  font-size: 1.2em;
}

.nav-items {
  width: 100%;
}

.top-row {
  
  margin-top: 5%;
}