.navbar-light .navbar-nav .nav-link {
  color: #000;
}

.nav-link:hover {
  color: #006666;
}

.navbar {
  padding-right: 9%;
  padding-top: 2%;
  width: 100%;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
}

.navbar-text {
  font-size: 1.2em;
}

.nav-items {
  width: 100%;
}

.top-row {
  margin-top: 5%;
}