nav {
  border-top-right-radius: 80px;
}

.top-row {
  background-color: #fff;
  border-top-right-radius: 80px;
  -webkit-box-shadow: 
  inset 12px 14px 9px rgba(0,0,0,0.3),
        12px 14px 9px rgba(0,0,0,0.3); 
  -moz-box-shadow: 
  inset 12px 14px 9px rgba(0,0,0,0.3),
        12px 14px 9px rgba(0,0,0,0.3);
  box-shadow: 12px 14px 9px rgba(0,0,0,.3);
  margin-top: 5%;
  
}
.navbar-nav {
  display: flex;
  flex-direction: row;
  width: 100%;
}


.navbar-text {
  font-size: 1.2em;
}

.nav-items {
  width: 100%;
}
